<div class="row">
    <div class="col-auto">
        <h2>Welcome Back, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Write a new article?</h3>

        <form class="form new-article-form">
            <div class="form-group">
                <label for="article-title">Title</label>
                <input class="form-input" type="text" id="article-title" name="article-title" />
            </div>

            <div class="form-group">
                <label for="article-content">content:</label>
                <textarea class="form-input" id="article-content" name="article-content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{#if articles.length}}
    <div class="col-md-6 article-list">
        <h3>Your Articles:</h3>

        {{#each articles as |article|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/article/{{article.id}}">{{article.title}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{article.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/dashboard.js"></script>